/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  height: 100%;
  padding: 5%;
  width: 100%;

  &__cover,
  &__details {
    padding: 0px 15px 0px 15px;
    text-align: center;
    width: 100%;
  }

  &__cover {
    max-width: 400px;
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    height: auto;
    max-width: 60vw;
    width: 100%;
  }

  &__details {
    text-align: center;
  }

  &__track {
    font-weight: var(--font-weight-heading);
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__artists {
    opacity: 0.8;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
     flex-flow: column;
     padding: 5%
  }
  
  @media only screen and (orientation:landscape) {
    flex-flow: row nowrap;
    padding: 5%;

    &__cover,
    &__details {
      width: 50%;
      max-width: 600px;
    }

    &__details {
      text-align: left;
    }
  }
}
